* {
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;

    justify-content: center;
    text-align: center;
}

#phone {
    max-width: 375px;
    max-height: 812px;
}

body {
    font-family: Tahoma;
    color: black;
}


#header {
    background-color: #ff4d4d;
    padding: 5px;
}


#cardContainer {
    background-color: #FAF8F0;
    padding: 5px;

}

#footer {
    background-color: #ff4d4d;
    padding: 5px;
}

