.phoneCase {
    position: fixed;
    left: 685px;
    top: 35px;
    background-color: dimgrey;
    border-radius: 25px;
    width: 405px;
    height: 842px;
    margin: 0 auto;
    color: black;
    border-style: solid;
}

.phoneContainer {
    position: fixed;
    left: 700px;
    top: 50px;
    background-color: white;
    width: 375px;
    height: 812px;
    margin: 0 auto;
    color: black;
    font-size: 18px;
    border-style: solid;
    font-family: Tahoma;
}

#header{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e78439;
    height: 45px;
}

.mainContainer {
    background-color: white;
    margin: 0 auto;
    color: black;
    font-size: 18px;
}

.cardContainer {
    background-color: white;
    width: 360px;
    margin: 5px;
    color: black;
    font-size: 15px;
    border-style: solid;
    display: flex;
    align-items: start;
}

.logo {
    height: 100px;
    width: 100px;
    border-style: solid;

}

.logoContainer {
    margin: 16px;
    flex: 1 1 auto;
}

.infoContainer {
    /*width: 220px;*/
    /*height: 130px;*/
    margin: 5px 5px 5px 0;
    /* padding-left: 150px; */
    flex: 1 1 auto;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    clear: both;
    font-weight: bold;
    font-size: 20px;
    background-color: #e78439;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#addCard{
    width: inherit;
    padding: 25px;
    background-color: green;

}
#myCards{
    width: inherit;
    padding: 25px;
    background-color: #e78439;

}
#settings{
    width: inherit;
    padding: 25px;
    background-color: deeppink;


}

h1 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
}

a:-webkit-any-link {
    color: black;
    /*color: -webkit-link;*/
    cursor: pointer;
    text-decoration: unset;
    text-align: center;

}

/*terms and condition view*/

#textTC{
    font-size: 14px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
}

h3 {
    display: block;
    font-size: 15px;
    text-align: center;
}

/*Change email view*/


#emailAddress{
    width: 330px;
    height: 40px;
    border-radius: 1px;
    border: 1px solid lightgray;
    outline: 0;
    padding-right: 7px;
    padding-left: 10px;
    margin-left: 12px;
    margin-right: 10px;
    margin-top: 200px;

    /*width: 430px;*/
    /*height: 30px;*/
    /*border-radius: 1px;*/
    /*border: 1px solid lightgray;*/
    /*outline: 0;*/
    /*padding: 7px;*/
}

#saveNewEmailButton{
    width: 330px;
    height: 30px;
    border-radius: 1px;
    border: 1px solid lightgray;
    outline: 0;
    padding-right: 7px;
    padding-left: 10px;
    margin-left: 12px;
    margin-right: 10px;
    margin-top: 200px;
}


    /*padding: 5px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*height: 50px;*/
    /*color:#FFFFFF;*/
    /*text-align: center;*/
    /*line-height: 50px;*/

