.phoneContainer{
    background-color: white;
    width: 375px;
    margin: 0 auto;
    color: black;
    font-size: 18px;
    border-style: solid;
}

#header {
    background-color: #ff4d4d;
    padding: 5px;
}

.mainContainer {
    background-color: white;
    width: 375px;
    margin: 0 auto;
    color: black;
    font-size: 18px;
}

.cardContainer {
    background-color: white;
    width: 360px;
    margin: 5px;
    color: black;
    font-size: 15px;
    border-style: solid;
    display: flex;
    align-items: start;



    /*height: 10vw;*/
    /*background-color: whitesmoke;*/
    /*border-color: #727a82;*/
    /*display: flex;*/
    /*flex-direction: row;*/
}

.logo{
    height: 100px;
    width: 100px;
    border-style: solid;

}

.logoContainer {
    margin: 16px;
    flex: 1 1 auto;
}

.infoContainer {
    /*width: 220px;*/
    /*height: 130px;*/
    margin: 5px 5px 5px 0;
    /* padding-left: 150px; */
    flex: 1 1 auto;
}


#footer {
    background-color: #ff4d4d;
    padding: 5px;
}

