/** {

    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
    max-width: 400px;
    max-height: 800px;
    justify-content: center;
    text-align: center;
}*/


body {
    background-color: #25a2c3;
    font-family: Tahoma;
    color: black;
}

