<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Gift Card</title>
</head>
<body>


<form  method="post" th:action="'/saveNewGiftCard/'" th:object="${giftCard}">
    <span> Store Name: <input type="text" th:field="*{storeName}"> </span>
    <span> Amount: <input type="number" th:field="*{balanceInt}"></span>
    <span> Exp: <input type="date" th:field="*{expiryDate}"></span>
    <span> Card Code: <input type="text" th:field="*{cardCode}"> </span>

    <input type="submit" value="Save Card">
</form>

</body>
</html>