<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link type="text/css" rel="stylesheet" href="inapp.css">
</head>
<body>'

<div id="header">

    <h1>Change password</h1>
</div>


<div id="cardContainer">

    <form th:action="'/saveChangedPassword'" th:object="${appUser}" th:method="post">
        <input type="text" th:field="*{password}">
        <input type="submit" value="Save New Password">
    </form>
</div>

<div id="footer">

    <span><a href="/addGiftCard">Add Card</a></span>
    <span><a href="/myCards">My Cards</a></span>
    <span><a href="/settings">Settings</a></span>
</div>


</body>
</html>