<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change email</title>
</head>
<body>

<h1>Change email</h1>

<form th:action="'/save-changed-email/'" th:object="${appUser}" th:method="post" >
    <input type="text" th:field="*{email}" >
    <input type="submit" value="Save New Email">
</form>

<p><a href="/add-gift-card">Add Card</a></p>
<p><a href="/my-cards">My Cards</a></p>
<p><a href="/settings">Settings</a></p>

</body>
</html>