<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change email</title>
    <link type="text/css" rel="stylesheet" href="inapp.css">
</head>
<body>
<div id="header">


    <h1>Change email</h1>

</div>


<div id="cardContainer">

    <form th:action="'/save-changed-email/'" th:object="${appUser}" th:method="post">
        <input type="text" th:field="*{email}">
        <input type="submit" value="Save New Email">
    </form>
</div>

<div id="footer">
    <span><a href="/add-gift-card">Add Card</a></span>
    <span><a href="/my-cards">My Cards</a></span>
    <span><a href="/settings">Settings</a></span>

</div>
</body>
</html>