<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link type="text/css" rel="stylesheet" href="inapp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<span class="phoneCase">
<span class="phoneContainer">

        <div id="header">
            <h1>Change password</h1>
        </div>

        <div class="mainContainer">
            <form th:action="'/save-changed-password'" th:object="${appUser}" th:method="post">
                <input type="text" th:field="*{password}">
                <input type="submit" value="Save New Password">
            </form>
        </div>

           <div id="footer">
            <span id="addCard"><a href="/add-gift-card"><i class="fa fa-plus"></i></a></span>
            <span id="myCards"><a href="/my-cards"><i class="fa fa-credit-card"></i></a></span>
            <span id="settings"><a href="/settings"><i class="fa fa-cog"></i></a></span>
    </div>
</span>
    </span>


</body>
</html>