<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit GiftCard</title>
</head>
<body>
<h1>Edit Gift Card Details</h1>

<form th:action="'/save-edited-gift-card/' + ${appUserId} + '/' + ${cardId} " th:object="${giftCard}" method="post">

    <span> Store Name: <input type="text" th:field="*{storeName}" > </span>
    <span> Card Code: <input type="text"  th:field="*{cardCode}"> </span>
    <span> Balance <input type="number" th:field="*{balanceInt}"></span>

<!--    <span> Balance DECIMAL: <input type="number" th:default="*{balanceDecimal}"  th:field="${tempGiftCard.balanceDecimal}"></span>-->
<!--    <span type="hidden" th:field="*{expiryDate}"> </span>-->

    <input type="submit" value="Save Changes">
</form>

    <p><a href="/add-gift-card">Add Card</a></p>
    <p><a href="/my-cards">My Cards</a></p>
    <p><a href="/settings">Settings</a></p>


</body>
</html>