<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit GiftCard</title>
</head>
<body>
<h1>Edit Gift Card Details</h1>
<form th:action="'/saveeditgiftcard/' + ${cardId} " th:object="${giftCard}" method="post">
    <span> Store Name: <input type="text" th:field="*{storeName}" > </span>
    <span> Card Code: <input type="text"  th:field="*{cardCode}"> </span>
    <span> Balance INT: <input type="number" th:default="*{balanceInt}" th:field="${tempGiftCard.balanceInt}"></span>
<!--    <span> Balance DECIMAL: <input type="number" th:default="*{balanceDecimal}"  th:field="${tempGiftCard.balanceDecimal}"></span>-->
<!--    <span><input th:if="${id != null}" type="hidden" th:field="*{id}"/></span>-->
    <input type="submit" value="Save Changes">
</form>


</body>
</html>