<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link type="text/css" rel="stylesheet" href="/login_signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <form method="post" th:action="@{/login}">
        <h2>Log in</h2>
        <div><input name="username" type="text" placeholder="Email"></div>
        <p th:if="${#request.getParameter('error')}">Invalid email address.</p>
        <div><input name="password" type="password" placeholder="Password"></div>
        <p th:if="${#request.getParameter('error')}">Invalid password.</p>
        <span><a href="/forgot-password">Forgot password?</a></span>
        <div><input type="submit" value="Log in"></div>
    </form>

    <div>Don't have an account yet?</div>
    <div><a th:href="'/sign-up'">Sign up</a></div>

</body>
</html>