<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link type="text/css" rel="stylesheet" href="/login_signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<span class="phoneCase">
<span class="phoneContainer">

<div class="image">

    <h1>wallit</h1>

    <form method="post" th:action="@{/login}">
        <h2>Log in</h2>
        <input class="input" type="text"  name="username"  placeholder="Email">
        <input class="input" type="password"  name="password"  placeholder="Password">
        <p th:if="${#request.getParameter('error')}">Invalid email or password.</p>
        <input class="button" type="submit" value="Log in">
    </form>

    <div id="forgotPassword" ><a id="forgotPasswordLink" href="/forgot-password">Forgot password?</a></div>


    <div id="signupLink">
        <p>Don't have an account yet?</p>
        <a th:href="'/sign-up'">Sign up</a>
    </div>

</div>

    </span>
    </span>

</body>
</html>