<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${giftCardList == null}" th:text="You do not have any gift cards yet"><p>  </p> </div>



<div th:each="giftCard : ${giftCardList}">

    <p th:text="'Store Name: ' + ${giftCard.getStoreName()}"></p>
    <p th:text="'Card Code: ' + ${giftCard.getCardCode()}"></p>
    <p th:text="'Balance: ' + ${giftCard.getBalance()}"></p>

    <p><a href="/edit/{appUserId}/{cardId}">Edit Card</a></p>
    <p> _________________________________________________________</p>
</div>

    <p><a href="/addgiftcard">Add Card</a></p>
    <p>My Cards</p>
    <p><a href="/settings">Settings</a></p>


</body>
</html>