<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>My Cards</h1>

<div th:if="${giftCardList.size()} == 0">
    <p>You do not have any gift cards yet...</p>
    <p><a href="/addGiftCard">Add your first gift card now!</a></p>
</div>

    <div th:if="${giftCardList.size() >= 1}" th:each="giftCard : ${giftCardList}">

        <p><a th:href="'/showGiftCard/' + ${giftCard.appUserId} + '/' + ${giftCard.id}"
        <p th:text=" ${giftCard.logoImage} "></p>
        <p th:text="'Store Name: ' + ${giftCard.storeName}"></p>
        <p th:text="'Balance: ' + ${giftCard.balanceInt}"></p>
        <p th:text="'Exp: ' + ${giftCard.expiryDate}"></p>
        <p><a th:href="'/showGiftCard/' + ${giftCard.appUserId} + '/' + ${giftCard.id}">
        </a></p>
        <p> _________________________________________________________</p>
</div>

    <p><a href="/addGiftCard">Add Card</a></p>
    <p>My Cards</p>
    <p><a href="/settings">Settings</a></p>



</body>
</html>