<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/inapp.css">
    <link type="text/css" rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<span class="phoneCase">
<span class="phoneContainer">

    <div id="header">
        <h1>My Cards</h1>
    </div>


<div class="mainContainer">

    <div th:if="${giftCardList.size()} == 0">
        <p>You do not have any gift cards yet...</p>
        <p><a href="/add-gift-card">Add your first gift card now!</a></p>
    </div>

        <div th:if="${giftCardList.size() >= 1}" th:each="giftCard : ${giftCardList}">
            <div>
                <a class="cardContainer" th:href="'/show-gift-card/' + ${giftCard.appUserId} + '/' + ${giftCard.id}">

                        <img th:src="'/images/' + ${giftCard.storeName} + '.jpg'" alt="store logo" class="logo">

                    <div class="infoContainer">
                        <p th:text="${giftCard.storeName}"></p>
                        <p th:text="'Balance: ' + ${giftCard.balanceInt}"></p>
                        <p th:text="'Exp: ' + ${#dates.format(giftCard.expiryDate, 'd. MMMM yyyy')}"></p>
                        <p>
                    </div>
                </a>
            </div>
        </div>
    </div>
           <div id="footer">
            <a href="/add-gift-card" id="addCard"><span><i class="fa fa-plus"></i></span></a>
            <a href="/my-cards" id="myCards"><span ><i class="fa fa-credit-card"></i></span></a>
            <a href="/settings" id="settings"><span ><i class="fa fa-cog"></i></span></a>
    </div>
</span>
    </span>

</body>
</html>