<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GiftCard</title>
</head>
<body>

<h1>My Card</h1>

<div>

    <p th:text=" ${giftCard.getLogoImage()} "></p>
    <a th:href="'/editGiftCard/' + ${appUserId} + '/' + ${giftCard.getId()}">Edit Card</a>

    <p th:text="'Store Name: ' + ${giftCard.getStoreName()}"></p>
    <p th:text="'Card Code: ' + ${giftCard.getCardCode()}"></p>
    <p th:text="'Current Balance INT: ' + ${giftCard.getBalanceInt()}"></p>
    <p th:text="'Current Balance DECIMAL: ' + ${giftCard.getBalanceDecimal()}"></p>
    <p th:text="'Exp: ' + ${giftCard.getExpiryDate()}"></p>


</div>

    <p><a href="/addGiftCard">Add Card</a></p>
    <p><a href="/myCards">My Cards</a></p>
    <p><a href="/settings">Settings</a></p>



</body>
</html>