<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GiftCard</title>
</head>
<body>

<a>

    <p th:text="'Store Name: ' + ${giftCard.getStoreName()}"></p>
    <p th:text="'Card Code: ' + ${giftCard.getCardCode()}"></p>
    <p th:text="'Balance: ' + ${giftCard.getBalance()}"></p>
    <p th:text="'Exp: ' + ${giftCard.getExpiryDate()}"></p>
    <a th:href="'/edit/' + ${appUserId} + '/' + ${giftCard.getId()}">Edit Card</a>


</div>


</body>
</html>