<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GiftCard</title>
    <link type="text/css" rel="stylesheet" href="/inapp.css">
    <link type="text/css" rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<span class="phoneCase">
<span class="phoneContainer">

    <div id="header">
       My Card
    </div>

        <div class="cardContainer">
            <div class="flexGiftCard">
            <div class="logoContainer" th:fragment="logo">
                <img th:src="'/images/' + ${giftCard.storeName} + '.jpg'" alt="store logo" class="logo">
            </div>
            <div class="infoContainer">
                <p th:text="${giftCard.storeName}"></p>
                <p th:text="'Current Balance: ' + ${giftCard.balanceInt}"></p>
                <p th:text="'Exp: ' + ${#dates.format(giftCard.expiryDate, 'd. MMMM yyyy')}"></p>
            </div>
            </div>
                <img class="strekkode" src="/images/strekkode.jpg" alt="store logo" >
    </div>
    </div>

    <!--            <div th:text="'Card Code: ' + ${giftCard.cardCode}"></div>-->

    <div><a th:href="'/edit-gift-card/' + ${appUserId} + '/' + ${giftCard.id}">Edit Card</a>
                <a th:href="'/delete-gift-card/' + ${appUserId} + '/' + ${giftCard.id}">Delete Card</a>
            </div>

    <div id="footer">
            <a href="/add-gift-card" id="addCard"><span><i class="fa fa-plus"></i></span></a>
            <a href="/my-cards" id="myCards"><span><i class="fa fa-credit-card"></i></span></a>
            <a href="/settings" id="settings"><span><i class="fa fa-cog"></i></span></a>
    </div>
</span>
    </span>

</body>
</html>