<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Sign up</title>
    <link type="text/css" rel="stylesheet" href="/login_signup.css">
</head>
<body>
<div class="image">
    <h1>wallit</h1>

    <form action="/save-user" th:object="${appUser}" method="post">
        <h2>Sign up</h2>
        <input type="text" th:field="*{email}" placeholder="Email"/>
            <p th:if="${#fields.hasErrors('email')}">Please enter a valid email address.</p>
        <input type="password" th:field="*{password}" placeholder="Password"/>
            <p th:if="${#fields.hasErrors('password')}">Please enter a password.</p>
        <input type="password" th:field="*{repeatPassword}" placeholder="Confirm password"/>
            <p th:if="${#fields.hasErrors('repeatPassword')}">Passwords are not a match.</p>
        <p id="terms" >Ved å klikke på Registrer deg godtar du våre betingelser. Les mer om hvordan vi samler inn,
            bruker og deler dataene dine, i våre retningslinjer for data, og hvordan vi bruker
            informasjonskapsler og lignende teknologi, i våre retningslinjer for informasjonskapsler.</p>
        <input class="button" type="submit" value="Sign up"/>

    </form>

    <div id="loginLink">
        <p>Already have an account?</p>
        <a th:href="'/login'">Login</a>
        </div>

</div>


</body>
</html>