<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link type="text/css" rel="stylesheet" href="/login.css">
</head>
<body>

<form action="/save-user" th:object="${appUser}" method="post">
    <h2>Sign up</h2>
    <div><input type="text" th:field="*{email}" placeholder="Email"/>
        <p th:if="${#fields.hasErrors('email')}">Please enter a valid email address.</p></div>
    <div><input type="password" th:field="*{password}" placeholder="Password"/>
        <p th:if="${#fields.hasErrors('password')}">Please enter a password.</p></div>
    <div><input type="password" th:field="*{repeatPassword}" placeholder="Confirm password"/>
        <p th:if="${#fields.hasErrors('repeatPassword')}">Passwords are not a match.</p></div>
    <div><input type="submit" value="Sign up"/></div>
</form>

<div>Already have an account?</div>
<div><a th:href="'/login'">Click here to log in.</a></div>

</body>
</html>