<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successfully Changed password</title>
    <link type="text/css" rel="stylesheet" href="/inapp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h1>New password saved.</h1>

<div id="footer">
    <span><a href="/add-gift-card"><i class="fa fa-plus"></i></a></span>
    <span><a href="/my-cards"><i class="fa fa-credit-card"></i></a></span>
    <span><a href="/settings"><i class="fa fa-cog"></i></a></span>
</div>

</body>
</html>