<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
</head>
<body>
    <h1>Settings</h1>

    <form th:action="'/logout'" method="post">
        <input type="submit" value="Log out"/>
    </form>

    <form th:action="'/delete'" method="delete">
        <input type="submit" value="Delete account"/>
    </form>

    <a href="/delete">Delete user/account??</a>

    <p><a href="/changeEmail">Change email</a></p>
    <p><a href="/changePassword">Change password</a></p>
    <p><a href="/termsandconditions">Terms and Conditions</a></p>

    <p><a href="/deleteaccount">Delete account</a></p>

    <p><a href="/addGiftCard">Add Card</a></p>
    <p><a href="/myCards">My Cards</a></p>
    <p>Settings</p>

</body>
</html>