<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
    <link type="text/css" rel="stylesheet" href="inapp.css">
</head>
<body>

<div id="header">
    <h1>Settings</h1>
</div>

<form th:action="'/logout'" method="post">
    <input type="submit" value="Log out"/>
</form>

<p><a href="/change-email">Change email</a></p>
<p><a href="/change-password">Change password</a></p>
<p><a href="/terms-and-conditions">Terms and Conditions</a></p>

<p><a href="/delete-app-user">Delete account</a></p>

<div id="footer">
    <span><a href="/add-gift-card">Add Card</a></span>
    <span><a href="/my-cards">My Cards</a></span>
    <span>Settings</span>
</div>

</body>
</html>