<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
    <link type="text/css" rel="stylesheet" href="/inapp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<span class="phoneCase">
<span class="phoneContainer">

        <div id="header">
            <h1>Settings</h1>
        </div>

<div class="mainContainer">

        <a href="/change-email" class="changeEmailContainer">
            <p>Change email</p>
        </a>


        <a href="/change-password" class="changePasswordContainer">
        <p>Change password</p>
        </a>

        <a href="/terms-and-conditions" class="termsAndConditionsContainer">
        <p>Terms and Conditions</p>
        </a>

        <a href="/logout" method="post" class="logoutContainer" >
            <p>Log out</p>
        </a>

        <a href="/delete-app-user" class="deleteAppUserContainer">
        <p>Delete account</p>
        </a>

   </div>

    <div id="footer">
            <span><a href="/add-gift-card"><i class="fa fa-plus"></i></a></span>
            <span><a href="/my-cards"><i class="fa fa-credit-card"></i></a></span>
            <span><i class="fa fa-cog"></i></span>
        </div>
</span>
    </span>


</body>
</html>